
<div class="user-form" id="AddForm" ng-submit="submitAddForm(AddForm.$valid)" novalidate>
    <div class="close-addform" onclick="hide(this)">+</div>
	<form class="user-add" name="user-add" id="add" >
		<input type="hidden" name="_method" value="POST" placeholder="id" required>
        <div><span>Username</span><input name="username" type="text" placeholder="Enter username" ng-model="addName" required> </div>
        <div><span>E-mail</span><input name="email" ng-model="addEmail" type="text" placeholder="Enter email" required> </div>
        <div><span>Post</span><input type="text" name="post" ng-model="addPost" placeholder="User post" required> </div>
        <div><span>Phone</span><input name="phone" type="tel"  placeholder="Enter phone number" required> </div>
        <div><span>Password</span><input name="password" type="password" placeholder="Enter password" required> </div>
        <div><span>Full name</span><input name="fullname" type="text" placeholder="Full name of user" required> </div>
        <div class="user-add-btn">
            <button type="submit" ng-disabled="user-add.addEmail.$invalid" onclick="addUser()">Add user</button></div>
    </form>
</div>